<%= render "shared/header" %>
<div class="top-contents">

  <h2 class="top-page">トップページ</h2>

  <div class="contents">
    <ul class="lists">
      <% if user_signed_in? %>
        <h2>科目選択</h2>
        <li><%= link_to "収入科目一覧", :incomes, class: "btn lists-btn" %></li>
        <li><%= link_to "固定費科目一覧", :fixedcosts, class: "btn lists-btn" %></li>
        <li><%= link_to "変動費科目一覧", :variablecosts, class: "btn lists-btn" %></li>
        <h2>収支確認</h2>
        <li><%= link_to "収支確認画面", :balances, class: "btn lists-btn" %></li>
      <% else %>
      <% end %> 
    </ul>
  </div>
</div>