<%= render "shared/second-header"%>

<div class="title">
	<h2 class="index-title">収支確認画面</h2>
</div>

<div class="input-contents">

	<h3>月次収支確認</h3>

	<%= form_tag({controller: :balances, action: :show}, {method: :post}) do %>
		<input type="month" name="year_month">
		<input type="submit" value="確認する">
	<% end %>

	<h3>年間収支確認</h3>

	<%= form_tag({controller: :balances, action: :show_year}, {method: :post}) do %>
		<input type="hidden" name="year">
			<select name="year">
				<% 2019.upto(2030) do |n| %>
					<option value=<%= n.to_s %>><%= n %><p>年</p></option>
				<% end %>
			</select>
		<input type="submit" value="確認する" >
	<% end %>
</div>

<%= render "shared/footer" %>
