<h2><%= @year_month %>月 月次収支確認</h2>

<div class="balances_btn">
  <%= link_to "収支確認画面に戻る", :balances %>
</div>

<% if @year_month.present? && @fixedcost.present? && @variablecost.present? %>
  <h2>収支結果</h2>
  <% if @balance < 0 %>
    <b><%= @year_month %>月の収支差は<%= @balance.to_s(:delimited) %>円の赤字です！！</b>
  <% elsif @balance == 0 %>
    <b><%= @year_month %>月の収支差は±<%= @balance %>円です！！</b>
  <% else %>
    <b><%= @year_month %>月の収支差は<%= @balance.to_s(:delimited) %>円の黒字です！！</b>
  <% end %>

  <div class="balance">
    <b>収支差:<%= @balance.to_s(:delimited) %> 円</b>
  </div>
<% elsif !@year_month.present? %>
  <b>年月を選択してください</b>
<% end %>

<h3>収入</h3>

<% if @income.present? %>
  <table>
    <thead>
      <tr>
        <th>種類</th>
        <th>金額</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @incomes.each do |i| %>
        <tr>
          <td><%= IncomeCategory.find(i.income_category_id).name %></td>
          <td>¥<%= i.value.to_s(:delimited) %></td>
          <td><%= i.description %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>収入合計</b></td>
        <td><b><%= @income_total.to_s(:delimited) %>円</b></td>
      </tr>
    </tbody>
  </table>

<% else %>
  <p class="no-content">登録されている収入がありません。</p>
<% end %>

<h3>固定費</h3>
<% if @fixedcost.present? %>
  <table>
    <thead>
      <tr>
        <th>種類</th>
        <th>金額</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @fixedcosts.each do |i| %>
        <tr>
          <td><%= FixedcostCategory.find(i.fixedcost_category_id).name %></td>
          <td>¥<%= i.value.to_s(:delimited) %></td>
          <td><%= i.description %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>固定費合計</b></td>
        <td><b><%= @fixedcost_total.to_s(:delimited) %>円</b></td>
      </tr>
    </tbody>
  </table>

<% else %>
  <p class="no-content">登録されている固定費がありません。</p>
<% end %>

<h3>変動費</h3>
<% if @variablecost.present? %>
  <table>
    <thead>
      <tr>
        <th>種類</th>
        <th>金額</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @variablecosts.each do |i| %>
        <tr>
          <td><%= VariablecostCategory.find(i.variablecost_category_id).name %></td>
          <td>¥<%= i.value.to_s(:delimited) %></td>
          <td><%= i.description %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>変動費合計</b></td>
        <td><b><%= @variablecost_total.to_s(:delimited) %>円</b></td>
      </tr>
    </tbody>
  </table>

<% else %>
  <p class="no-content">登録されている変動費がありません。</p>
<% end %>

<%= render "shared/footer" %>