<%= render "shared/second-header"%>

<div class="title">
  <h2 class="index-title"><%= @year %>年 年間収支確認</h2>
</div>

<div class="balances_btn">
  <%= link_to "収支確認画面に戻る", :balances, class: "btn balance-btn" %>
</div>

<div class="title">
  <h2 class="index-title">収支結果</h2>
</div>

<div class="balance">
  <% if @balance < 0 %>
    <b class="balance-value"><%= @year %>年の収支差は<span class="deficit"><%= @balance.to_s(:delimited) %></span>円の赤字です！！</b>
    <div class="balance-money">
      <b>収支差: <span class="deficit"><%= @balance.to_s(:delimited) %></span> 円</b>
    </div>
  <% elsif @balance == 0 %>
    <b class="balance-value"><%= @year %>年の収支差は±<%= @balance %>円です！！</b>
    <div class="balance-money">
      <b>収支差:<%= @balance.to_s(:delimited) %> 円</b>
    </div>
  <% else %>
    <b class="balance-value"><%= @year %>年の収支差は<span class="surplus"><%= @balance.to_s(:delimited) %></span>円の黒字です！！</b>
    <div class="balance-money">
      <b>収支差: <span class="surplus"><%= @balance.to_s(:delimited) %></span> 円</b>
    </div>
  <% end %>
</div>

<div class="year-total">
  <h4 class="year-total-income">収入合計: <%= @income_total.to_s(:delimited) %> 円</h4>
  <div class="income-chart_title">
    <b>年間収入グラフ</b>
  </div>
  <div class="chart">
    <%= column_chart @income_chart.group(:year_month).sum(:value),
    class: "value-chart",
    label: "収入",
    xtitle: "Month",
    ytitle: "value",
    thousands: ",",
    colors: ["#008db7"]
    %>
  </div>
</div>

<div class="year-total">
  <h4 class="year-total-spending">固定費合計: <%= @fixedcost_total.to_s(:delimited) %> 円</h4>
  <div class="spending-chart_title">
    <b>年間固定費グラフ</b>
  </div>
  <div class="chart">
    <%= column_chart @fixedcost_chart.group(:year_month).sum(:value),
    class: "value-chart",
    label: "固定費",
    xtitle: "Month",
    ytitle: "value",
    thousands: ",",
    colors: ["#a22041"]
    %>
  </div>
</div>

<div class="year-total">
  <h4 class="year-total-spending">変動費合計: <%= @variablecost_total.to_s(:delimited) %> 円</h4>
  <div class="spending-chart_title">
    <b>年間変動費グラフ</b>
  </div>
  <div class="chart">
    <%= column_chart @variablecost_chart.group(:year_month).sum(:value),
    class: "value-chart",
    label: "変動費",
    xtitle: "Month",
    ytitle: "value",
    thousands: ",",
    colors: ["#a22041"]
    %>
  </div>
</div>

<%= render "shared/footer" %>