<h2><%= @year %>年 年間収支確認</h2>

<div class="balances_btn">
  <%= link_to "収支確認画面に戻る", :balances %>
</div>

<h2>収支結果</h2>
<% if @balance < 0 %>
  <b><%= @year %>年の収支差は<%= @balance.to_s(:delimited) %>円の赤字です！！</b>
<% elsif @balance == 0 %>
  <b><%= @year %>年の収支差は±<%= @balance %>円です！！</b>
<% else %>
  <b><%= @year %>年の収支差は<%= @balance.to_s(:delimited) %>円の黒字です！！</b>
<% end %>

<div class="balance">
  <b>収支差:<%= @balance.to_s(:delimited) %> 円</b>
</div>

<h3>収入合計:<%= @income_total.to_s(:delimited) %> 円</h3>
<div class="chart">
  <div class="chart_title"><b>年間収入グラフ</b></div>
  <%= column_chart @income_chart.group(:year_month).sum(:value),
  label: "収入",
  xtitle: "Month",
  ytitle: "value",
  thousands: ",",
  width: "250px",
  colors: ["blue"]
  %>
</div>

<h3>固定費合計:<%= @fixedcost_total.to_s(:delimited) %> 円</h3>

<h3>変動費合計:<%= @variablecost_total.to_s(:delimited) %> 円</h3>

<%= render "shared/footer" %>